<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	

	<typeAliases>
		<typeAlias alias="students" type="com.aza.service.domain.Students" />
		<typeAlias alias="search" type="com.aza.common.Search" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sql/StudentsRecordMapper.xml"/>
		<mapper resource="sql/AttendanceMapper.xml"/>
	</mappers>

</configuration>