<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PaperHomeworkMapper">

	<resultMap id="paperHomeworkSelectMap" type="paper">
		<result property="homeworkCode" column="homework_code" jdbcType="NUMERIC" />
		<result property="studentId" column="student_id" jdbcType="VARCHAR" />
		<result property="lessonCode" column="lesson_code" jdbcType="VARCHAR" />
		<result property="homeworkTitle" column="homework_title" jdbcType="VARCHAR" />
		<result property="homeworkContents" column="homework_contents" jdbcType="VARCHAR" />
		<result property="homeworkDueDate" column="homework_due_date" jdbcType="DATE" />
		<result property="homeworkCheck" column="homework_check" jdbcType="CHAR" />
		<result property="homeworkCreateAt" column="homework_create_at" jdbcType="VARCHAR" />
	</resultMap>


	<!-- HOMEWORK :: INSERT -->
	<insert id="addPaperHomework">
	INSERT INTO homework
	VALUES(seq_homework_homework_code.NEXTVAL,
	 		 #{studentId},
	 		 #{lessonCode},
	 		 #{homeworkTitle},
	 		 #{homeworkContent},
	 		 #{homeworkDueDate},
	 		 #{homeworkCheck},
	 		 #{homeworkCreateAt})
	</insert>
	
	
	<!-- HOMEWORK :: SELECT -->
	<select id="getPaperHomework" parameterType="int" resultMap="paperHomeworkSelectMap">
		SELECT *
		FROM homework
		WHERE homework_code = #{homeworkCode}
	</select>


	<!-- HOMEWORK :: UPDATE -->
	<update id="updatePaperHomework" parameterType="paper">
	UPDATE homework
	<set>
		homework_title = #{homeworkTitle},
		homework_contents= #{homeworkContent},
		homework_due_date= #{homeworkDueDate}	
	</set>
	WHERE homework_code = #{homeworkCode}
	</update>
	
	
	<!-- HOMEWORKCHECK :: UPDATE -->
	<update id="updatePaperHomeworkCheck">
	UPDATE homework
	<set>
		homework_check ='1'
	</set>
	WHERE homework_code = #{homeworkCode}	
	</update>
	

	<!-- HOMEWORK :: DELETE  -->
	<delete id="deletePaperHomework">
	DELETE homework
	FROM homework_code = #{homeworkCode}
	</delete>
	
		
	<!--  HOMEWORK:: LIST  -->
	<select id="listPaperHomework" resultMap="paperHomeworkSelectMap">
		SELECT * 
		FROM (
		    SELECT inner_table.*, ROWNUM AS row_seq
		    FROM (  SELECT * FROM homework
		            WHERE lesson_code = #{lessonCode} AND student_id = #{studentId}
		            ORDER BY  homework_create_at DESC ) inner_table 
		    WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<!-- HOMEWORKLIST :: TOTALCOUNT -->
	<select id="getPaperHomeworkTotalCount" resultType="int">
		SELECT COUNT(*) 
		FROM ( SELECT * FROM homework
	            WHERE lesson_code = #{lessonCode} AND student_id = #{studentId}
	            ORDER BY  homework_create_at DESC ) countTable	
	</select>
	
	

</mapper>