<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="PaymentMapper">

	<resultMap type="payment" id="PaymentSelectMap">
		<result property="payCode"			 column="pay_code" 				jdbcType="NUMERIC" />
		<result property="studentRecordNo" 	 column="student_record_no" 	jdbcType="NUMERIC" />
		<result property="studentId" 		 column="student_id" 			jdbcType="VARCHAR" />
		<result property="studentName" 		 column="student_name" 			jdbcType="VARCHAR" />
		<result property="payer" 			 column="payer" 				jdbcType="VARCHAR" />
		<result property="amount" 		  	 column="amount" 				jdbcType="NUMERIC" />
		<result property="payDueDate" 		 column="pay_due_date" 			jdbcType="VARCHAR" />
		<result property="payDay" 			 column="pay_day" 				jdbcType="DATE" />
		<result property="checkPay" 		 column="check_pay" 			jdbcType="CHAR" />
		<result property="impUid" 			 column="imp_Uid" 				jdbcType="VARCHAR" />
		<result property="merchantUid" 		 column="merchant_Uid" 			jdbcType="VARCHAR" />			
	</resultMap>

	<!-- SQL : payment SELECT ONE -->
	<select id="getPayment" parameterType="int" resultMap="PaymentSelectMap">
	SELECT
	(SELECT lesson_name FROM students_record WHERE record_code = student_record_no), 
	student_name, amount, pay_due_date, pay_day, check_pay
	FROM payment
	WHERE pay_code = #{value}
	</select>

	<!-- SQL : payment INSERT -->
	<insert id="addPayment" parameterType="payment">
	INSERT INTO payment
	VALUES(seq_payment_pay_code.NEXTVAL, #{studentRecordNo}, #{studentId},  
	(SELECT user_name FROM users WHERE user_id = #{studentId}), #{payer:VARCHAR},#{amount}, 
	(SELECT pay_due_date FROM students_record WHERE record_code = #{studentRecordNo}), 
	#{payDay:DATE}, #{checkPay:CHAR}, #{impUid:VARCHAR}, #{merchantUid:VARCHAR})	 
	 </insert>
	 
	<!-- SQL : payment UPDATE -->
	<!-- 안됨.. -->
	<update id="updatePayment" parameterType="payment">
	UPDATE payment 
 	<set>
 	  <if test="checkPay != 'N'">
		check_pay = #{checkPay},
		pay_day = SYSDATE
	  </if>	
	  <if test="checkPay == 'N'">
		check_pay = #{checkPay},
		pay_day = NULL
	  </if>	
	</set> 
	WHERE pay_code = #{payCode}
	</update>
	
	<!-- SQL : payment DELETE -->
	<delete id="deletePayment" parameterType="int">
	DELETE FROM payment WHERE pay_code = #{value}
	</delete>
	
	
	<select id="listPayment" parameterType="search" resultMap="PaymentSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT * FROM payment
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				student_name = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				pay_due_date BETWEEN TO_DATE(#{searchStartDate}, 'YYYY-MM-DD') 
                  										AND TO_DATE(#{searchEndDate}, 'YYYY-MM-DD')
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				check_pay = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY pay_code ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	
	</select>
	
	
	<select id="totalPaymentCount" parameterType="search"	 resultType="int">
		SELECT COUNT(*)
	  	FROM( SELECT * FROM payment
	  	<if test="searchCondition != null">
				<where>
					<if test="searchCondition == 0 and searchKeyword !='' ">
		 				student_name = #{searchKeyword}
					</if>
					<if test="searchCondition == 1 and searchKeyword !='' ">
		 				pay_due_date BETWEEN TO_DATE(#{searchStartDate}, 'YYYY-MM-DD') 
          										AND TO_DATE(#{searchEndDate}, 'YYYY-MM-DD')
					</if>
					<if test="searchCondition == 2 and searchKeyword !='' ">
		 				check_pay = #{searchKeyword}
					</if>				    
	 			</where>
	 		</if> 	) countTable

	</select>

</mapper>