<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace = "QuizMapper">
	<resultMap id = "quizSelectMap" type="paper">
		<result property ="quizCode" column="quiz_code" jdbcType="NUMERIC"/>
		<result property ="lessonCode" column="lesson_code" jdbcType="VARCHAR"/>
		<result property ="studentId" column="student_id" jdbcType="VARCHAR"/>
		<result property ="quizTitle" column="quiz_title" jdbcType="VARCHAR"/>
		<result property ="quizCreateAt" column="quiz_create_at" jdbcType="DATE"/>
		<result property ="quizSubmitDate" column="quiz_submit_date" jdbcType="DATE"/>
		<result property ="quizScore" column="quiz_score" jdbcType="NUMERIC"/>
	</resultMap>

	<!-- SQL : INSERT -->
	<insert id = "addPaperQuiz" parameterType="paper">
	INSERT INTO quiz
	VALUES(seq_quiz_quiz_code.NEXTVAL, #{lessonCode:VARCHAR}, 
	#{studentId:VARCHAR}, #{quizTitle:VARCHAR}, TO_DATE(sysdate, 'yyyy/mm/dd HH24:MI:SS'), 
	#{quizSubmitDate:DATE}, #{quizScore:NUMERIC})
	</insert>
	
	<!-- SQL : SELECT ONE -->
	<select id="getPaperQuiz" resultMap="quizSelectMap">
	SELECT *
	FROM quiz
	WHERE quiz_code = #{quizCode}
	</select>
	
	<!-- SQL : UPDATE -->
	<update id = "updatePaperQuiz" parameterType ="paper">
	UPDATE quiz 
	<set>
	quiz_submit_date = #{quizSubmitDate:DATE}, 
	quiz_score = #{quizScore:NUMERIC} 
	</set>
	WHERE quiz_code = #{quizCode}
	</update>

	<!-- SQL : DELETE	 -->
	<delete id="deletePaperQuiz" parameterType="int">
	DELETE FROM quiz WHERE quiz_code = #{value}
	</delete>
	
	<!-- SQL : LIST  -->
	<select id="listPaperQuiz" parameterType="search" resultMap="quizSelectMap">
	SELECT * 
	FROM (
    SELECT inner_table.*, ROWNUM AS row_seq
    FROM ( SELECT
			quiz_code, (SELECT lesson_name FROM lesson WHERE lesson_code = #{searchKeyword}) lessonName,
			student_id, quiz_create_at, quiz_submit_date, quiz_score
			FROM quiz
			WHERE lesson_code = #{searchKeyword}
			ORDER BY quiz_create_at DESC ) inner_table 
		WHERE ROWNUM &lt;= #{endRowNum} )
	WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<!--  SQL : TOTAL COUNT	 -->
	<select id="getPaperQuizTotalCount"  parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM (  SELECT
				*
				FROM quiz
				WHERE lesson_code = #{searchKeyword}
		) countTable
	</select>


</mapper>