<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RelationMapper">
 	
 	
	<resultMap id="RelationSelectMap" type="user">
		<result property="relationCode" 			column="relation_code" 			jdbcType="INTEGER"/>
		<result property="firstStudentId" 			column="student_id" 			jdbcType="VARCHAR" />
		<result property="userId" 					column="parent_id" 				jdbcType="VARCHAR" />
		<result property="relationName"				column="relation_name" 			jdbcType="VARCHAR" />
	</resultMap>
	
		<!-- Relation : INSERT -->
	<insert 	id="addRelation" >							
		INSERT
		INTO relation
		VALUES (
				seq_relation_relation_code.NEXTVAL,
				#{firstStudentId},
				#{userId},
				#{relationName}
			)		
	</insert>
	
	<!-- Relation : SELECT ??????????????-->
<!-- 	<select		id="getRelation" resultMap="RelationSelectMap">
		SELECT
		u.user_name, r.student_id, r.parent_id, r.relation_name
		FROM users u, relation r
		WHERE u.user_id = r.parent_id AND u.user_id = #{userId} 
		AND r.student_id = #{firstStudentId}
	</select> -->
	
	<!-- MJ dao,service에 학생추가하기-->
	<select		id="getRelation" resultMap="RelationSelectMap">
		SELECT
		*
		FROM relation
		WHERE student_id = #{userId} OR parent_id = #{userId}
	</select>
	
	<!-- Relation : UPDATE ???????????????-->
	<update		id="updateRelation" >
		UPDATE relation
		<set>
			relation_name = #{relationName}
		</set>
		WHERE parent_Id = #{userId} AND student_id = #{firstStudentId}
	</update>
	
	<!-- Relation : DELETE -->
	 <delete	id="deleteRelation"	parameterType="String" >
		DELETE FROM relation
		WHERE student_id = #{userId} OR parent_id = #{userId}
	 </delete>
	 
	<!-- Relation : list -->
	<!-- <select id="listRelation" >
		SELECT
		u.user_name, r.student_id, r.parent_id, r.relation_name
		FROM users u, relation r
		WHERE u.user_id = r.parent_id AND u.user_id = #{userId}
		
	</select>	 --> 
	
	<!-- MJ 리스트에서 값이 안넘어오는 문제 해결해야함....-->
	<select id="listRelation" resultMap="RelationSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT u.user_name, r.*
											FROM users u, relation r
											WHERE u.user_id = r.parent_id AND r.parent_id = #{parentId}
										 	ORDER BY r.relation_code desc ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	
	 </select>
	 
	 <select id = "getRelationTotalCount" resultType="int">
	 		SELECT COUNT(*)
	 		FROM( SELECT * from relation
	 				where parent_id ='parent5'
	 			) countTable
	 </select>

	 
</mapper>