<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RelationMapper">

	<resultMap id="RelationSelectMap" type="com.aza.service.domain.User">
		<result property="relationCode" 			column="relation_code" 			jdbcType="INTEGER"/>
		<result property="studentId" 	column="student_id" 		jdbcType="VARCHAR" />
		<result property="parentId" 				column="parent_id" 					jdbcType="VARCHAR" />
		<result property="relationName"	column="relation_name" 		jdbcType="VARCHAR" />
	</resultMap>
	
		<!-- Relation : INSERT -->
<!-- 	<insert 	id="addRelation"		parameterType="user" >							
		INSERT
		INTO relation
		VALUES (#{relationCode} , #{studentId}, #{parentId}, #{relationName})		
	</insert> -->
	
	<!-- Relation : SELECT ?????????????? -->
<!-- 	<select	id="getRelation" resultMap ="RelationSelectMap">
		SELECT
		u.user_name, r.student_Id, r.parent_id, r.relation_name
		FROM users u, relation r
		WHERE u.user_id = r.parent_id AND u.user_id = #{parentId} 
		AND r.student_id = #{studentId}
	</select>
	
	Relation : UPDATE ???????????????
	<update		id="updateRelation" >
		UPDATE relation
		<set>
			relation_name = #{relationName}
		</set>
		WHERE parent_Id = #{parentId} AND student_id = #{studentId}
	</update>
	
	Relation : DELETE
	 <delete	id="deleteRelation"	parameterType="int" >
		DELETE FROM relation
		WHERE relation_code = #{relationCode}
	 </delete>
	 
	Relation : list
	<select id="listRelation" >
		SELECT
		u.user_name, r.student_Id, r.parent_id, r.relation_name
		FROM users u, relation r
		WHERE u.user_id = r.parent_id AND u.user_id = #{parentId}
	</select>	  -->
	 
</mapper>