<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="StudentsCharacterMapper">

	<resultMap id="studentsExamSelectMap" type="com.aza.service.domain.Students">
		<result property="examCode" 			column="exam_code" 				jdbcType="NUMERIC"/>
		<result property="studentId" 			column="student_id" 			jdbcType="VARCHAR"/>
		<result property="examYear" 			column="exam_year"	 			jdbcType="CHAR"/>
		<result property="examSemester" 		column="exam_semester" 			jdbcType="CHAR"/>
		<result property="examTerm" 			column="exam_term" 				jdbcType="CHAR"/>
		<result property="examSubject" 			column="exam_subject" 			jdbcType="VARCHAR"/>
		<result property="examScore" 			column="exam_score" 			jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<!-- SQL : exam INSERT -->
	<insert id="addStudentsExam" parameterType="students">
	INSERT INTO exam
	VALUES(seq_exam_exam_code.NEXTVAL, #{studentId}, #{examYear}, #{examSemester}, #{examTerm}, #{examSubject}, ${score});
	</insert>

	<!-- SQL : exam SELECT ONE  -->	
	<select id="getStudentsExam" parameterType="int" resultMap="studentsExamSelectMap">
	SELECT
	*
	FROM exam 
	WHERE exam_code = #{value}	
	</select>
	
	
	<!-- SQL : exam UPDATE -->
	<update id = "updateStudentsExam" parameterType ="students">
	UPDATE exam 
	<set>
	exam_year = #{examYear}, 
	exam_semester = #{examSemester} , 
	exam_term = #{examTerm}, 
	exam_subject = #{examSubject}, 
	score = #{subject}
	</set>
	WHERE exam_code = #{examCode}
	</update>
	
	<!-- SQL : exam delete -->
	<delete id="deleteStudentsExam" parameterType="int">
	DELETE FROM exam WHERE exam_code = #{value};
	</delete>
	
	
	
	<!--  ====================================
	SQL : exam SELECT list -->
		<select  id="listStudentsExam"  parameterType="search"	resultMap="studentsExamSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM	( SELECT
				sr.lesson_name, sr.student_name, p.amount, p.pay_due_date,p.pay_day, p.check_pay
				FROM payment p, students_record sr
				WHERE sr.RECORD_code = p.STUDENT_RECORD_NO) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	
</mapper>