<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
		<result property="role" 				column="role" 					jdbcType="VARCHAR" />
		<result property="userName"	column="user_name" 		jdbcType="VARCHAR" />
		<result property="phone" 			column="phone" 		jdbcType="VARCHAR" />
		<result property="school" 				column="school" 					jdbcType="VARCHAR" />
		<result property="grade" 				column="grade" 					jdbcType="VARCHAR" />
		<result property="birth" 			column="birth" 				jdbcType="CHAR"  />
		<result property="parentPhone" 		column="parent_phone" 			jdbcType="VARCHAR" />
		<result property="alertState" 		column="alert_state" 			jdbcType="CHAR" />
		<result property="stopAlertStartTime" 		column="stop_alert_start_time" 			jdbcType="VARCHAR" />
		<result property="stopAlertEndTime" 		column="stop_alert_end_time" 			jdbcType="VARCHAR" />
		<result property="check" 		column="user_check" 			jdbcType="CHAR" />
		
	</resultMap>
	
	
	<!-- USERS : INSERT -->
	<insert 	id="addUser"		parameterType="user" >							
		INSERT
		INTO users
		(user_id,password,role,user_name,phone,school,grade,birth,parent_phone)
		VALUES (#{userId} , #{password}, #{role}, #{userName} ,#{phone}, 
		#{school:VARCHAR}, #{grade:VARCHAR}, #{birth:CHAR} , #{parentPhone:VARCHAR}
		)		
	</insert>
	 
	 <!-- USERS : SELECT -->
	 <select 	id="getUser"	parameterType="String"	resultMap="userSelectMap">
		SELECT *
		FROM users
		WHERE user_id = #{value}
	 </select>
	 
	 <!-- USERS : UPDATE -->
  	 <update	id="updateUser"	parameterType="user" >
	   	UPDATE users
	   	<set>
	   		password = #{password},
	   		phone = #{phone},
	   		grade = #{grade},
	   		school = #{school},
	   		parent_Phone = #{parentPhone}
	   	</set>
		WHERE user_id = #{userId}
	 </update>
	 
	 <!-- USERS : DELETE -->
 	 <delete	id="deleteUser"	parameterType="String" >
	   	DELETE FROM users
		WHERE user_id = #{userId}
	 </delete>
		 
	 <!-- USERS : CheckDuplication -->
  	 <select id="checkDuplication" parameterType="String" resultType="int">
	 	SELECT COUNT(user_id) 
	 	FROM users
	 	WHERE user_id = #{userId}
	 </select>
	 
 	 <!-- USERS : UpdateAlertState -->
  	 <update	id="updateAlertState" >
	   	UPDATE users
	   	<set>
	   		alert_state = #{alertState}
	   	</set>
		WHERE user_id = #{userId}
	 </update>
	 
  	 <!-- USERS : UpdateStopAlertStartTime -->
  	 <update	id="updateStopAlertStartTime" >
	   	UPDATE users
	   	<set>
	   		stop_alert_start_time = #{stopAlertStartTime}
	   	</set>
		WHERE user_id = #{userId}
	 </update>
	 
   	 <!-- USERS : UpdateStopAlertendTime -->
  	 <update	id="updateStopAlertEndTime" >
	   	UPDATE users
	   	<set>
	   		stop_alert_end_time = #{stopAlertEndTime}
	   	</set>
		WHERE user_id = #{userId}
	 </update>
	 
	 <!-- USERS : UpdateCheck -->
  	 <update	id="updateCheck" >
	   	UPDATE users
	   	<set>
	   		user_check = #{check}
	   	</set>
		WHERE user_id = #{userId}
	 </update>
	 
	 
</mapper>